<div *ngIf="displayLoginForm">
<div class="form-control">
    <div class="row mt-4">
        <div class="col md-6">
            <form #form='ngForm' class="mb-4" autocomplete="off" (submit)="OnSubmit(form)">
                <div class="form-group" required>
                    <label> Username </label>
                    <input #UserName="ngModel" name="UserName" [(ngModel)]="formModel.UserName">
                </div>
                <div class="form-group" required>
                    <label> Password </label>
                    <input #Password="ngModel" name="Password" [(ngModel)]="formModel.Password">
                </div>
                
                
                <div class="form-row">
                    <div class="form-group col-md-8offset-md-2">
                        <button type="submit" class="btn btn-lg btn-blk" [disabled]='form.invalid' (submit)="OnSubmit(form)">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<div *ngIf="successfulLogin">
        <app-user-home></app-user-home>  
</div>
