<div *ngIf="showForm">   
<div class="form-control">
    <div class="row mt-4">
        <div class="col md-6">
            <form [formGroup]= "service.formModel" autocomplete="off" (submit)="OnSubmit()" >
                <div class="form-group" required>
                    <label> First Name </label>
                    <input class="form-control" formControlName="FirstName">
                </div>
                <div class="form-group" required>
                    <label> Last Name </label>
                    <input class="form-control" formControlName="LastName">
                </div>
                <div class="form-group" required>
                    <label> Address </label>
                    <input class="form-control" formControlName="Address">
                </div>
                <div class="form-group" required>
                    <label> Phone Number </label>
                    <input class="form-control" formControlName="Phone">
                </div>
                <div class="form-group" required>
                    <label> Email </label>
                    <input class="form-control" formControlName="Email">
                </div>
                <div class="form-group" required>
                    <label> Date Of Birth (format: dd/mm/yyyy) </label>
                    <input class="form-control" formControlName="DateOfBirth">
                </div>
                <div class="form-group" required>
                    <label> Username </label>
                    <input class="form-control" formControlName="UserName">
                </div>
                <div formGroupName="Passwords">
                    <div class="form-group" required>
                        <label> Password </label>
                        <input class="form-control" formControlName="Password">
                    </div>
                    <div class="form-group" required>
                        <label> Confirm Password </label>
                        <input class="form-control" formControlName="ConfirmPassword">
                        <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword')?.touched && service.formModel.get('Passwords.ConfirmPassword')?.errors?.passwordMismatch">The passwords don't match.</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8offset-md-2">
                        <button type="submit" class="btn btn-lg btn-blk" (click)="OnSubmit()">Create Account</button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8offset-md-2">
                        <button type="submit" class="btn btn-lg btn-blk" (click)="Cancel()">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<div *ngIf="showHeaderPage">    
    <app-root></app-root>
</div>