<div>
<div *ngIf="logOutRequested == false">
    <app-buttons type="button1" text="Back to services" (btnClick)="back()"> </app-buttons>
    <app-buttons type="button2" text="Log Out" (btnClick)="logOut()"> </app-buttons>
</div>

<div *ngIf="logOutRequested == false"
>
    <app-upload-file></app-upload-file>
</div>

<div *ngIf="requestNewHealthCardButtonVisible">    
    <app-option-buttons text="I want to request a new health card." (btnClick)="requestNewHealthCard()"> </app-option-buttons>
</div>

<div *ngIf="updateAccountInfoButtonVisible">    
    <app-option-buttons text="I want to update my account info." (btnClick)="updateAccountInfo()"> </app-option-buttons>
</div>

<div *ngIf="linkAccountRequestButtonVisible">    
    <app-option-buttons text="I want to unlink/link with a family member." (btnClick)="linkUnlinkRequest()"> </app-option-buttons>
</div>

<div *ngIf="previousUserButtonVisible">    
    <app-option-buttons text="I have had a health card previously." (btnClick)="previousUser()"> </app-option-buttons>
</div>

<div *ngIf="firstTimeUserButtonVisible">    
    <app-option-buttons text="I am applying for a health card for the first time." (btnClick)="firstTimeUser()"> </app-option-buttons>
</div>

<div *ngIf="requestCardForChild">    
    <app-option-buttons text="I am applying for a health card for my child." (btnClick)="applyForChild()"> </app-option-buttons>
</div>

<div *ngIf="firstTimeUserFormVisible">    
    <app-request-new-card></app-request-new-card>
</div>

<div *ngIf="previousUserFormVisible">    
    <app-renew-previous-health-card></app-renew-previous-health-card>
</div>

<div *ngIf="cancelCardButtonVisible">    
    <app-option-buttons text="I want to cancel my health card." (btnClick)="cancelCard()"> </app-option-buttons>
</div>

<div *ngIf="cancelCardFormVisible">    
    <app-cancel-health-card></app-cancel-health-card>
</div>

<div *ngIf="updateAccountInfoFormVisible">    
    <app-update-account-info></app-update-account-info>    
</div>

<div *ngIf="linkingRequestFormVisible">    
    <app-option-buttons text="I want to link my account with a family member." (btnClick)="linkAccount()"> </app-option-buttons>
    <br>
    <app-option-buttons text="I want to unlink my account from a family member" (btnClick)="unLinkAccount()"> </app-option-buttons>
</div>

<div *ngIf="linkAccountFormVisible">    
    <app-link></app-link>
</div>

<div *ngIf="unlinkAccountFormVisible">    
    <app-unlink></app-unlink>
</div>

<div *ngIf="showChildApplication">    
    <app-request-cardfor-child></app-request-cardfor-child>
</div>

<div *ngIf="logOutRequested">    
    <app-root></app-root>
</div>
</div>