<div class="form-control">
    <div class="row mt-4">
        <div class="col md-6">
            <form #form='ngForm' class="mb-4" autocomplete="off" (submit)="OnSubmit(form)">
                <div class="form-group" required>
                    <label> Personal Health Number </label>
                    <input #Id="ngModel" name="Id" [(ngModel)]="formModel.Id">
                </div>
                <div class="form-group" required>
                    <label> Family Health Number </label>
                    <input #familyNumber="ngModel" name="familyNumber" [(ngModel)]="formModel.familyNumber">
                </div>
                
                
                <div class="form-row">
                    <div class="form-group col-md-8offset-md-2">
                        <button type="submit" class="btn btn-lg btn-blk" [disabled]='form.invalid' (submit)="OnSubmit(form)">Submit Request</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
