body{
  background-color: #d6cbab;;
  max-width: 5000px;
  margin: 30px auto;
  align-content: center;
  align-items: center;
}

.container {
  max-width: 1000px;
  margin: 100px auto;
  overflow: auto;
  min-height: 20px;
  margin-left: 500px;
  padding: 30px;
  border-radius: 30px;
  align-self: center;
  align-content: center;
  align-items: center;
 
}

.label{
  overflow: auto;
  padding: 30px;
  border-radius: 100px;
  margin-left: 600px;
  margin-top: 10px;
}


input.form-control,input.form-control:focus{
  background-color: #a86587;
  color: black;
  border-color: black;
  border-radius: 0px;
  border-width: 2px;
  width: 250px;
}

input.form-control:focus{
  box-shadow: none;
  border-bottom-color: black;
}

.btn {
  display: inline-block;
  background: black;
  color: #d6cbab;;
  border: none;
  padding: 5px 5px;

  margin-top: 10px;

  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  align-self: center;
  align-content: center;
  align-items: center;
  width: 400px;
}

.btn2 {
  display: inline-block;
  background: black;
  color: #d6cbab;;
  border: none;
  padding: 5px 5px;
  margin-top: 10px;

  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  font-family: inherit;
  align-self: center;
  align-content: center;
  align-items: center;
  width: 600px;
}

button[type=submit].btn{
  border-radius: 20px;
  background-color: #000;
  color: #fff;
}


div.form-group label{
  color: black;
  font-weight: bold;
}

div.form-group.required>label:first-child:after{
  content:'*';
  color: #dc3545;
padding-left: 5px;
}

#toast-container > div {
  opacity:1;
}

form{
  margin: 0px 16px;
}

