@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

body{
  background-color: #d6cbab;;
  max-width: 5000px;
  margin: 30px auto;
  align-content: center;
  align-items: center;
}

.container {
  max-width: 1000px;
  margin: 100px auto;
  overflow: auto;
  min-height: 20px;
  margin-left: 500px;
  padding: 30px;
  border-radius: 30px;
  align-self: center;
  align-content: center;
  align-items: center;
 
}

.label{
  color:black;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
  margin-left: 450px;

}


input.form-control,input.form-control:focus{
  background-color:peachpuff;
  color: black;
  border-color: black;
  border-radius: 0px;
  border-width: 2px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input.form-control:focus{
  box-shadow: none;
  border-bottom-color: black;
}

.btn {
  background-color:darkseagreen;
  border: none;
  color:black;
  padding: 15px 15px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 20%;
  margin-left: 575px;
}

.btn2 {
  display: inline-block;
  background: black;
  color: #d6cbab;;
  border: none;
  padding: 5px 5px;
  margin-top: 10px;

  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 12px;
  font-family: inherit;
  align-self: center;
  align-content: center;
  align-items: center;
  width: 600px;
}

button[type=submit].btn{
  background-color:darkseagreen;
  border: none;
  color:black;
  padding: 15px 15px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 40%;
  margin-left: 30%;
}


div.form-group label{
  color: black;
  font-weight: bold;
}

div.form-group.required>label:first-child:after{
  content:'*';
  color: #dc3545;
padding-left: 5px;
}

#toast-container > div {
  opacity:1;
}

form{
  margin-left:450px;
  margin-top: 25px;
  margin-right: 600px;
  margin-bottom: auto;
  align-items: center;
  align-content: center;
  align-self: center;
  background-color:honeydew;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #44e613; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #d81e1b; /* red */
}


