<div class="form-control">
    <div class="row mt-4">
        <div class="col md-6">
            <form #form='ngForm' class="mb-4" autocomplete="off" (submit)="OnSubmit(form)">
                <label> Enter your details here. </label>
                <div class="form-group" required>
                    <label> Personal Health Number </label>
                    <input #personalNumber="ngModel" name="personalNumber" [(ngModel)]="formModel.personalNumber">
                </div>
                <div class="form-group" required>
                    <label> Family Health Number </label>
                    <input #familyNumber="ngModel" name="familyNumber" [(ngModel)]="formModel.familyNumber">
                </div>
                <div class="form-group" required>
                    <label> Address </label>
                    <input #address="ngModel" name="address" [(ngModel)]="formModel.address">
                </div>  
                <div class="form-group" required>
                    <label> Family Health Number of Person You Want To Link With </label>
                    <input #address="ngModel" name="familyNumber2" [(ngModel)]="formModel.familyNumber2">
                </div>              
                
                <div class="form-row">
                    <div class="form-group col-md-8offset-md-2">
                        <button type="submit" class="btn btn-lg btn-blk" [disabled]='form.invalid' (submit)="OnSubmit(form)">Submit Request</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
